@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* global */

body {
  background-image: url('pics/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 400px;
  padding: 40px;
  border-radius: 10px;
  background-color: #e0d9d9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: clamp(3rem, 8vw, 4rem);
  margin-bottom: 20px;
  color: #4CAF50;
  text-align: center;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: block;
}


.button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}


/*Index.html*/
.footer-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4CAF50;
  font-size: 1em;
  margin-bottom: 10px;
}

.footer-links img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

input[type="text"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* askQuestion.html*/
.button-container {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.hide {
  display: none;
}

.incorrect-answers {
  margin-top: 20px;
  text-align: left;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

/* selectQuestion.html */

input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/*usage.html*/
.usage_body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 20px;
}

.usage_container {
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 20px auto;
}

.usage_h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #4CAF50;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

ul {
  font-size: 1.2em;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

/*flasch card*/
.flashcard {
  /*width: 300px;*/
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.flashcard .front, .flashcard .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #484444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.flashcard .front {
  background-color: #f0a8a8;
}

.flashcard .back {
  background-color: #ecf3b9;
  transform: rotateY(180deg);
}

.flashcard.flipped .front {
  transform: rotateY(180deg);
}

.flashcard.flipped .back {
  transform: rotateY(0deg);
}